* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: cornsilk;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  background-color: darkkhaki;
  padding: 30px 50px;
  border-radius: 20px;
  max-width: 700px;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  color: midnightblue;
  margin-bottom: 20px;
}
.hero__text {
  font-size: 16px;
  text-align: center;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
.hero__text.fade-out {
  opacity: 0;
}
